<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Main</title>
  </head>
  <body>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        
    <div class="max-auto container pt-3 pb-3 mt-5" style="background-color:hotpink">
        
        <div class="container-fluid" >

            <h3>BoRAT - Breakout Room Allocation schedule Tool</h3>

            <div class="mt-4"></div>

            <p>This page will produce an allocation schedule that will allow you to specify group membership for students when creating Zoom breakout rooms.</p>

            <p>Each geneated allocation schedule comprises a set of 'rounds', where each round is a set of student groups. The primary constraint for an allocation schedule is that no two students will be paired with each other more than once.</p>

            <p>It is based on "Breakout Group Allocation Schedules and the Social Golfer Problem with Adjacent Group Sizes", by Alice Miller, Matthew Barr, William Kavanagh, Ivaylo Valkov and Helen C. Purchase. Published in the <a href="https://www.mdpi.com/2073-8994/13/1/13">Symmetry Journal</a>, December 2020.</p>

            <p>To generate an allocation schedule, you need to specify:</p>
			
			<ol>
				<li>the number of students in your class, a number between 6 and 90</li>
				<li>the number of rounds required</li>
			</ol>
			
			<p>The range of this second number will vary depending on class size (for example, ten rounds for a class of fifteen is impossible), and it should be a number between 3 and 40. You will be able to see all allocation schedules with at least this number of rounds. If no such allocations exist try reducing the number of rounds.</p>
			
			<p>Note that you do not specify the  size of the groups: the system will automatically generate 
			<a href="#" data-toggle="popover" title="Definition" data-html="true" data-bs-placement="auto left" data-content=
			"For a set of v participants, a good balanced allocation schedule is a balanced allocation schedule for which: 
			<ol>
			<li>there are at most 2 group sizes,</li>
			<li>group sizes differ by at most 1,</li>
			<li>every round has the same distribution of group sizes,</li>
			<li>if v ≥ 12 all groups have size at least 3,</li>
			<li>If v ≥ 20 and there are two group sizes then all groups have size between 4 and 6.</li>
			</ol>"
			>good balanced allocation schedules</a>.  More than one allocation schedule may be available for your combination of class size and number of rounds.</p>
			
			<p>If your class size is larger than 90, we suggest that you split it into subsets containing fewer than 90 students, and generate a separate allocation schedule for each subset.</p>
			
			<p>Once an allocation schedule has been generated, if you wish, you will be able to associate the schedule with a list of student email addresses.</p>
			

        </div>
        
    </div>

    <div class="max-auto container mt-3 pt-2 pb-5" style="background-color:aliceblue">

        <div class="container-fluid" >

                <h3>Your requirements</h3>

        </div>
        
        <div class="container-fluid" >
            <form>
                <div class="form-group mt-3">
                    
                    <input type="number" class="form-control form-control-lg mt-3 mb-3" id="participantsForm" onchange="updateURL()" placeholder="Class size">
                    <input type="number" class="form-control form-control-lg mt-3 mb-3" id="roundsForm" onchange="updateURL()" placeholder="Number of rounds">

                </div>
            </form>

            <div class="d-flex justify-content-center">
                <a href="/allocate/9over3" id="QueryButton" type="button" class="btn btn-lg btn-primary">
                  Find allocations
                </a>
              </div> 


        </div>

    </div>

    <div class="max-auto container mt-3">
        <div class="row">
            <div class="col-sm">
                <p>Provided by the School of Computing Science at the University of Glasgow.</p>
            </div>
        </div>
    </div>





    <script>

		$(document).ready(function(){
			$('[data-toggle="popover"]').popover();
		});

        updateURL = function() {
			var rounds =document.getElementById('roundsForm').value;
			if (rounds == "") {
				rounds = "3";
			}
            document.getElementById("QueryButton").href = "/allocate/"+document.getElementById('participantsForm').value+"over"+rounds;
        }

    </script>

</body>
</html>