<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Main</title>
  </head>
  <body>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        
    <div class="max-auto container pt-3 pb-3 mt-5" style="background-color:hotpink">
        
        <div class="container-fluid" >

            <h3>BoRAT - Breakout Room Allocation Tool</h3>

            <div class="mt-4"></div>

            <p>Simply fill in your requirements and hit 'Find Allocations' below to see your options.</p>

            <p>BoRAT will supply breakout room allocations that guarantee no participant is paired with any other in multiple rounds.</p>

            <p>Once you have chosen a suitable allocation you can either download the schema or parse a list of participant email addresses.</p>

            <p>Allocations with more rounds than your query for the same number of participants will be included in your search</p>

        </div>
        
    </div>

    <div class="max-auto container mt-3 pt-2 pb-5" style="background-color:aliceblue">

        <div class="container-fluid" >

                <h3>Your requirements</h3>

        </div>
        
        <div class="container-fluid" >
            <form>
                <div class="form-group mt-3">
                    
                    <input type="number" class="form-control form-control-lg mt-3 mb-3" id="participantsForm" onchange="updateURL()" placeholder="Class size">
                    <input type="number" class="form-control form-control-lg mt-3 mb-3" id="roundsForm" onchange="updateURL()" placeholder="Number of rounds">

                </div>
            </form>

            <div class="d-flex justify-content-center">
                <a href="/allocate/9over3" id="QueryButton" type="button" class="btn btn-lg btn-primary">
                  Find allocations
                </a>
              </div> 


        </div>

    </div>

    <div class="max-auto container mt-3">
        <div class="row">
            <div class="col-sm">
                <p>Provided by the Computer Science Department at the University of Glasgow.</p>
            </div>
        </div>
    </div>





    <script>

        updateURL = function() {
			var rounds =document.getElementById('roundsForm').value;
			if (rounds == "") {
				rounds = "3";
			}
            document.getElementById("QueryButton").href = "/allocate/"+document.getElementById('participantsForm').value+"over"+rounds;
        }

    </script>

</body>
</html>