<!doctype html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

      <title>Result</title>
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    {% load static %}

    <div class="max-auto container pt-3 pb-3 mt-5" style="background-color:hotpink">
        
      <div class="container-fluid mb-3">

          <h3>Translate allocation for {{alloc}} into email addresses</h3>
          
          <div class="mt-4"></div>

          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Upload file
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <p>Upload a file of email addresses for each participant as a comma-separated list</p>
                  <div class="input-group mb-3">
                    <div class="custom-file">
                      <form action="{% url 'parse_upload' alloc.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                                                
                        {% for element in upload_form %}
                          {{ element }}
                        {% endfor %}

                        <input type="submit" value="Upload">
                      </form>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center">
                    
                    
                  </div>  
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Enter manually
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <p>Type in an email address for each participant as a comma-separated list</p>
                  <div class="input-group input-group-lg">
                    <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </div>
                <div class="d-flex justify-content-center mb-3">
                  <a href="/allocate/." type="button" class="btn btn-danger align-self-center">
                    Parse text
                  </a>
                </div>  
              </div>
            </div>
          </div>
      </div>
        
      <div class="d-flex justify-content-center">
        <a href="/allocate/." type="button" class="btn btn-primary align-self-center">
          Clear search
        </a>
      </div>  
    </div> 
    


    <div class="max-auto container mt-3 pt-2 pb-5" style="background-color:aliceblue">

      <div class="container-fluid" >

              <h3>Your requirements</h3>

              {% if uploaded_file_url %}
                <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
              {% else %}
                <p>no file</p>
              {% endif %}

      </div>
      
      <div class="container-fluid" >
          <form>
              <div class="form-group mt-3">
                  
                  <input type="number" class="form-control form-control-lg mt-3 mb-3" id="participantsForm" onchange="updateURL()" placeholder="Class size">
                  <input type="number" class="form-control form-control-lg mt-3 mb-3" id="roundsForm" onchange="updateURL()" placeholder="Number of rounds">

              </div>
          </form>

          <div class="d-flex justify-content-center">
              <a href="/allocate/9over3" id="QueryButton" type="button" class="btn btn-lg btn-primary">
                Find allocations
              </a>
            </div> 


      </div>

  </div>

  <div class="max-auto container mt-3">
      <div class="row">
          <div class="col-sm">
              <p>Provided by the Computer Science Department at the University of Glasgow.</p>
          </div>
      </div>
  </div>





  <script>

      updateURL = function() {
          document.getElementById("QueryButton").href = "/allocate/"+document.getElementById('participantsForm').value+"over"+document.getElementById('roundsForm').value;
      }

  </script>

</body>
</html>